*{
    font-family: 'Poppins';
}
.App{
    width: 100vw;
    /* padding: 1em; */
    box-sizing: border-box;
}

.title{
    margin-left: 3em;
    font-weight: normal;
    position: fixed;
    z-index: 9999;
}
html{
    scroll-behavior: smooth;
}
.graph-network{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding:  0 3em ; */
    position: relative;
    width: 100%;
    height: 100vh;
    /* z-index: -1; */
}

.stats-btn-container{
    position: absolute;
    bottom: 0;
    text-align: center; 
}
.stats-btn{
    display: block;
    position: relative;
    padding: .5em;
    width: 10em;
    text-decoration: none;
    background-color:transparent;
    overflow: hidden; 
    z-index: 99;
    cursor: pointer;
}

.large-blur {
    /* color: black; */
    text-shadow: 0 0 10px rgb(0, 0, 0);
  }

.stats-btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1b1b1b;
    clip-path: polygon(0% 100%, 17.5% 0%, 82.5% 0%, 100% 100%);
    /* border-radius: 20px; Adjust the value to control the roundness of corners */
    z-index: -1;
}
.generate-graph-container{
    margin-bottom: 1em;
}

.generate-graph-container input{
    width: 85%;
}
.shrtpath {
    padding: 2em;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 50%;
    /* bottom: 0; */
    /* margin-right: 2em; */
    transform: translateY(-50%);
    z-index: 999;
}

.stats-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2em;
    max-width: 100vw;
}
.bar-chart-container{
    display: flex;
    justify-content: space-evenly;
    padding: 2em 0;
}

footer {
    /* background-color: #333; */
    color: rgb(159, 159, 159);
    text-align: center;
    padding: 1em;
    /* position: fixed; */
    bottom: 0;
    /* width: 100%; */
    font-size: small;
    font-weight: normal;
  }


  .toggle-control-panel-btn{
    display: none;
    visibility: hidden;
    }

    
/* Default styles for larger screens */
.chart-container {
    width: 500px;
    /* height: 400px; */
  }
  


@media (max-width: 768px) {
    /* Adjust styles for screens with a maximum width of 768 pixels */
    .title {
        margin-left: 1em; /* Adjust as needed */
    }
    .graph-network{
        max-height: 100vh;
        /* max-width: 100vw; */
    }
   
   

    .shrtpath {
        visibility: hidden;
        position: absolute; /* Change to static for stacking on smaller screens */
        /* margin-top: 1em; Adjust as needed */
        left: 50%;
        top: 50%;
        /* right: 0; */
        width: 80%;
        transform: translate(-50%, -55%);
        /* background-color: aqua; */
     
        
        /* right: -20em;  */
    }

    .chart-container {
        /* background-color: wheat; */
        width: 100vw;
        /* height: 300px; */
      } 

    .toggle-control-panel-btn{
        position: absolute;
        visibility:visible;
        bottom: 0;
        margin-bottom: 4em;
        display: block;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: .5em;
        width: 5em;
        text-align: center;
        cursor: pointer;
        font-size: 14px;
        z-index: 9999;
    }


  .shrtpath-visible{
    visibility: visible;
  }

  .stats-container{
    max-width: 100vw;
    padding: 2em;
    justify-items: center;
    align-content: center;
  }
} 